@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
/* paleta de colores
#000000 negro
#ffa500 naranja
#ffffff blanco
#00ffff cyan
#E63B2E cinnabar
 */

/* INDEX-INICIO */

/* HEADER */

.card-img-top{
    height: 250px;
}
.img-banner{
    width: 100%;
}
.mi-header{
    background-color: orange;
    background-image: linear-gradient(to bottom,#E63B2E, #ffa500);
}
.titulo-pagina{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding: 15px;
    animation-name: titulo-pagina;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.mi-navbar .contenedor-mi-navbar{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    font-weight: bolder;
    font-size: 15px;
    margin: 0px;
}
.mi-navbar .contenedor-mi-navbar .mi-item-navbar{
    text-decoration: none;
    color: black;
}
.mi-navbar .contenedor-mi-navbar .mi-item-navbar:hover{
    color: #00ffff;
}

/* MAIN */

.mi-main{
    background-color: black;
    padding: 10px;
}
.mi-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    background-color: #E63B2E;
    border-color: #ffa500;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.btn-primary:hover{
    background-color: cyan;
}


/* FOOTER */

.mi-footer{
    background-color: #00ffff;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 10px;
}
.mi-footer .footer-img{
    width: 50px;
    height: 50px;
}

@keyframes titulo-pagina{
    0% {
        color: black;
    }
    40%{
        color: #ffa500;
    }
    80%{
        color: #00ffff;
    }
    100%{
        color: black;
    }
}

/* BANDAS */
.banda-mi-main{
    background-color: black;
    margin: 0px;

}
.banda-mi-main-carousel{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.carousel {
    width: 800px;
  }
  .w-100{
    height: 600px;
  }
.mi-p{
    margin: 0px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 50px;
}
.mi-boton{
    padding: 25px;
}
.mi-boton-a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

/* CONTACTO */
.mi-main-contacto{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background-color: black;
    /* background: linear-gradient(135deg,#E63B2E,#ffa500); */
}
.mi-formulario{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg,#E63B2E,#ffa500);
    padding: 25px 30px;
    border-radius: 5px;
}
.mi-formulario .titulo-mi-formulario{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.mi-formulario .titulo-mi-formulario::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #00ffff);
}
.mi-formulario form .mi-detalle-usuario{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
}
form .mi-detalle-usuario .mi-input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.mi-detalle-usuario .mi-input-box .mi-detalle{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.mi-detalle-usuario .mi-input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.mi-detalle-usuario .mi-input-box input:focus,
.mi-detalle-usuario .mi-input-box input:valid{
    border-color: #00ffff;
}
@media(min-width:600px){
    .titulo-pagina{
        font-size: 90px;
    }
    .mi-navbar .contenedor-mi-navbar{
        font-size: 30px;
    }
    .mi-p{
        font-size: 25px;
    }
}
